.cuadroTarjeta{
    
    width: 400px;
    height: 700px;
    background-image: url(img/marco\ para\ carta.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 10%;
    left: 40%;
}

.circulo{    
    background-image:url(img/20241228_163959.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid yellow 5px;
    border-radius: 50%;
    height: 190px;
    width: 190px;
    position: relative;
    top: 60px;
    left: 90px;
}

.personalb{
      height: 40px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    
    position: absolute;
    top: 240px;
    left: -97px;
    cursor: pointer;
    transition: background-color 1s ease;
}
.personalb:hover{
    background-color: crimson;
    
}



.pasatiemposb{
        height: 40px;
    width: 400px;
    background-color: rgb(255, 255, 255);
   
 
    position: absolute;
    top: 290px;
    left: -97px;
    cursor: pointer;
    transition: background-color 1s ease;
}

.pasatiemposb:hover{
   background-color: aqua;
}

.Gustosb{
        height: 40px;
    width: 400px;
    background-color: rgb(255, 255, 255);
   
   
    position: absolute;
    top: 340px;
    left: -97px;
    cursor: pointer;
    transition: background-color 1s ease;
}

.Gustosb:hover{
   background-color: blueviolet;
}

.fotosb{
        height: 40px;
    width: 400px;
    background-color: rgb(255, 255, 255); 
    position: absolute;
    top: 390px;
    left: -97px;
    cursor: pointer;
    transition: background-color 1s ease;
}

.fotosb:hover{
    background-color: fuchsia;
  
}

#miniVentana {
  margin-top: 10px;
  padding: 15px;
  width: 250px;
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 10px;
  display: none; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#ventana1{
    z-index: 1;
    position: relative;
    top: 430px;
    left: -40px;
    
    border: solid rgb(255, 0, 0) 2px;
    animation: bajar 1s ease-in-out forwards;
    background-color: white;
    height: 100px;
    width: 300px;
    display: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
@keyframes bajar{
    from{
        
        height: 0px;
    }
    to{
       
        height: 100px;
    }
}

#ventana2{
 z-index: 1;
    position: relative;
    top: 430px;
    left: -40px;
    
    border: solid rgb(255, 0, 0) 2px;
    animation: bajar 1s ease-in-out forwards;
    background-color: white;
    height: 100px;
    width: 300px;
    display: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
@keyframes bajar{
    from{
        
        height: 0px;
    }
    to{
       
        height: 100px;
    }
}

#ventana3{
     z-index: 1;
    position: relative;
    top: 430px;
    left: -40px;
   
    border: solid rgb(255, 0, 0) 2px;
    animation: bajar 1s ease-in-out forwards;
    background-color: white;
    height: 100px;
    width: 300px;
    display: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
@keyframes bajar{
    from{
        
        height: 0px;
    }
    to{
       
        height: 100px;
    }
}

#ventana4{
    z-index: 1;
    position: relative;
    top: 430px;
    left: -40px;
   
    border: solid rgb(255, 0, 0) 2px;
    animation: bajar 1s ease-in-out forwards;
    background-color: white;
    height: 100px;
    width: 300px;
    display: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
#ventana4 a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;

}
#ventana4 a:hover{
    font-size:35px;
    color: blue;
}

@keyframes bajar{
    from{
        
        height: 0px;
    }
    to{
       
        height: 120px;
    }
}
